.Outer-div {
    background-image: url(../../media/site-back2.png);
    background-position: center;
}

.inner-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.ccet-brand {
    font-size: 83px;
    font-family: Garet-Book;
    color: #FFE6CD;
    line-height: 0.4;
}

.Assignments {
    font-weight: 400;
    font-family: 'Space Mono', monospace;
    font-size: 70px;
    color: #FFE6CD;
}

.image-div {
    margin-top: 20px;
    width: 45%;
}

.image-div img {
    width: 100%;
}

.made-by {
    font-family: 'Garet-Book';
    color: #FFE6CD;
}

.branches li a{
    color: #FFE6CD;
    text-decoration: none;
}

.branches li{
    list-style:disc;
    font-family: 'Roboto Mono', cursive;
    font-size: 20px;
    padding: 10px;
    list-style: none;
}

/* button {

    background-color: black;
    height: 50px;
    width: 70%;
    margin-top: 20px;
    font-family: 'Roboto Mono';
} */

/* button a {
    color: wheat;
    text-decoration: none;
} */

@media screen and (max-width:1103px) {
    .ccet-brand {
        line-height: 1;
    }

    .inner-div {
        flex-direction: column-reverse;
    }


}


@media screen and (max-width:610px) {
   .text-div{
    padding: 20px;
   }
   .image-div {
    width: unset;
}

    .ccet-brand {
        font-size: 50px;
        
    }

    .Assignments {
        
        font-size: 30px;
        
    }
}

@media screen and (max-width:241px) {
    
    .ccet-brand{
        font-size: 40px;
    }
    .Assignments {
            
        font-size: 20px;
        
    }
    
    }