.cloud {
   /* center content */
   /* position: relative; */
   padding: 50px;
   bottom: 0;
   left: 0;
   right: 0;
   /* grid */
   display: grid;
   justify-content: center;
   align-content: center;
   gap: 5px;
}



.cloud{
    
    grid-template:
    '  . . . Information Documentation Documentation Documentation Documentation'
    '  Computer Computer Computer Information Engineering Debugging Learning Exams'
    '  . Notes Software Information Engineering Debugging Learning Design     '
    '  . . Software Information Programming Debugging Learning Design'
    '  . . Software Information Assignments Debugging Learning Design'
    '  . . . Information . . Learning .';

    
    
}

/* base font color for all words */
.cloud > div {
    color:black;
    font-size: 40px;
    text-shadow: 3px 5px 8px rgba(1, 1, 1, 0.3);
}

.cloud:hover{
    color: black;
    background-color:#0090c1;
    /* Firefox */
    -moz-transition: all 10s ease-in;
    /* WebKit */
    -webkit-transition: all 10s ease-in;
    /* Opera */
    -o-transition: all 10s ease-in;
    /* Standard */
    transition: all 10s ease-in;
}


/* twice the size, bold and different color for each second word */
 .cloud :nth-child(2n) {
    font-size: 2rem;
    color: #38aecc;
    font-weight: bold;
    
}
/* vertical orientation and different color for each third word */
 .cloud :nth-child(3n) {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    color: #0090c1; 
    font-size: 3rem;
}
/* triple size and different color for each fourth word */
.cloud :nth-child(4n) {
    font-size: 3rem;
    color: #183446;
}
/* quadruple size and different color for each fifth word */
 .cloud :nth-child(5n) {
    font-size: 4rem;
    color: #046e8f;
    
}


a{
    text-decoration: none;
    color: inherit;
}




#Engineering{
    font-size: 7rem;
}


 @media only screen and (max-width: 1500px) {
    .cloud {
        display: none;
        
    }
} 
/*

#Documentation{
    font-size:2rem ;
}
#Algorithm{
    font-size: 4rem;
}
#Robotics{
    font-size: 2rem;
    padding-left: -20px;
}
#mechanics{
    font-size: 2rem;
}
#Pressure{
    font-size: 6rem;
}
#Design{
    font-size: 2rem;
} */
/* #Engineering{
    font-size:5rem ;
    color: darkslategray;
    font: bold;
    writing-mode:initial;
} */