.Outer-div {
/* background: hsla(50, 68%, 93%, 1); */

background: linear-gradient(318deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 88%, 66%, 1) 50%, hsl(288deg 21% 31%) 100%);

/* background: -moz-linear-gradient(90deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 88%, 66%, 1) 50%, hsla(288, 55%, 55%, 1) 100%); */

/* background: -webkit-linear-gradient(90deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 88%, 66%, 1) 50%, hsla(288, 55%, 55%, 1) 100%); */

/* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9F5E0", endColorstr="#F5895C", GradientType=1 ); */
}

.inner-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.text-div{
    max-width: 50%;
}
.ccet-brand {
    font-size: 83px;
    font-family: Garet-Book;
    color: #FFE6CD;
    line-height: 0.4;
}

.Assignments {
    font-weight: 400;
    font-family: 'Space Mono', monospace;
    font-size: 60px;
    color: #FFE6CD;
}

.image-div {
    margin-top: 20px;
    width: 45%;
}

.image-div img {
    width: 100%;
}

.made-by {
    font-family: 'Garet-Book';
    color: #FFE6CD;
}

.arrow-2{
    width: 50px;
    height: 50px;
}

div button {

    height: 50px;
    width: 100%;
    background-color: white;
    font-family: 'Roboto Mono';
    border: none;
    border-radius: 20px;
} 

 div button a {
    color: black;
    text-decoration: none;
}

/* .arrow-container{
    margin-left: 50%;
    margin-right:50%;
} */


@media screen and (max-width:1103px) {
    .ccet-brand {
        line-height: 1;
    }

    .inner-div {
        flex-direction: column;
    }


}


@media screen and (max-width:610px) {
   .text-div{
    padding: 20px;
   }
   .image-div {
    width: unset;
}

    .ccet-brand {
        font-size: 50px;
        
    }

    .Assignments {
        
        font-size: 30px;
        
    }
}

@media screen and (max-width:241px) {
    
    .ccet-brand{
        font-size: 40px;
    }
    .Assignments {
            
        font-size: 20px;
        
    }
    
    }
