.me-auto{
    padding-left: 50%;
    gap: 2rem;
    
    
}

.title{
  font-size: 29px;
}

.title:hover{
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .me-auto {
    text-align: center;
    padding-left: 0;
  }
}



.tab:hover Nav.Link{
    text-decoration: underline;

}

.bg-body-tertiary{
  
  font-size: 20px;
 
}


#basic-navbar-nav{
  border-radius: 0;
}


.dropdown-content {

    border: none;
    display: block;
  }

.nav{
  padding: 15px;
}
  

