.main-div{
    color:black;
    background-color: #FFE6CD;
    font-family: 'Roboto Mono';
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:390px) {
    .main-div{
        font-size: x-small;
    }
}