.main-div{
    background-color:black;
    color: #FFE6CD;
    font-family: 'Roboto Mono';
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    
       
    
}

@media screen and (max-width:390px) {
    .main-div{
        font-size: x-small;
    }
}


