


.branches-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #caf0f8;
  margin-top: -150px;
  }

  .branches-main-div .branches {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}
*:before, *:after {
  box-sizing: border-box;
}
  .branches {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

.branches-main-div .branches .card {

  position: relative;
  min-width: 220px;
  height: 220px;
  box-shadow: inset 5px 5px 5px rgb(0 0 0 / 20%), inset -5px -5px 15px rgb(255 255 255 / 10%), 5px 5px 15px rgb(0 0 0 / 30%), -5px -5px 15px rgb(255 255 255 / 10%);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.content{
  box-sizing: border-box;
  margin: 0;
    padding: 0;
    outline: none;
    border: none;
    display: block;
    transition: 0.3s;
}

.card{

    background-image: linear-gradient( white , lightblue);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);

}

/* #civil{
  background-image: url(../../media/civil.png);
}
#ece{
  background-image: url(../../media/elec.png);
}
#mech{
  background-image: url(../../media/mech.png);
}
#cse{
  background-image: url(../../media/computer.png);
} */

.branches-main-div .branches .card .box{

  background-image: linear-gradient(rgb(228, 144, 99) , white);
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.branches-main-div .branches .card .box:hover{
  transform: translateY(-50px);
}

.branches-main-div .branches .card .box .content {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}


.branches-main-div .branches .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background-color: lightcoral;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  /* color: #caf0f8; */
  margin-top: 20px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  transition: 0.5s;
}

.branches-main-div .branches .card .box .content a:hover{
  box-shadow: 0 10px 20px rgb(0 0 0 / 60%);
    background-color: lightblue;
    /* background: #caf0f8; */
    color: white;
}