 /* h1{
  margin: 0;
  font-family: 'Roboto Mono';
}

.branches-outer-div{
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.downarrow{
 
margin-top: 50px;
animation: v duration timing-function delay iteration-count direction fill-mode;
}

.branches-inner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  }

  .branches-inner-div .branches {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}
*:before, *:after {
  box-sizing: border-box;
}
  .branches {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

.branches-inner-div .branches .card {

   position: relative;
  min-width: 220px;
  height: 220px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0,0.5);
  box-shadow: inset 5px 5px 5px rgb(0 0 0 / 20%), inset -5px -5px 15px rgb(255 255 255 / 10%), 5px 5px 15px rgb(0 0 0 / 30%), -5px -5px 15px rgb(255 255 255 / 10%); 
  background-color: rgba(15, 3, 3, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s; 

  
  background-color: gray;
  position: relative;
  width: 280px;
  height: 280px;
  margin:20px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0,0.5);
  border-radius:15px ;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);

}

.content{
  box-sizing: border-box;
  margin: 0;
    padding: 20px;
    outline: none;
    border: none;
    display: block;
    transition: 0.3s;
}

.card{
   
    /* background-color: rgb(255, 255,255, 0.1);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125); 

}

#civil{ 
  background-image: url(../../media/civil.png);
}
#ece{
  background-image: url(../../media/elec.png);
}
#mech{
  background-image: url(../../media/mech.png);
}
#cse{
  background-image: url(../../media/computer.png);
}  


.branches-inner-div .branches .card .box{

  background-image: linear-gradient(rgb(228, 144, 99) , white);
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

 .branches-inner-div .branches .card .box:hover{
  transform: translateY(-50px);
} 

.branches-inner-div .branches .card .box .content {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
} 

 
.branches-inner-div .branches .card .box .content span {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 8px 20px;
  background-color: lightcoral;
  border-radius: 5px;
  text-decoration: none;
  color: white;
   color: #caf0f8; 
  margin-top: 20px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  transition: 0.5s;
  font-family: 'Garet-Book';
} 

.branches-inner-div .branches .card .box .content a:hover{
  box-shadow: 0 10px 20px rgb(0 0 0 / 60%);
    background-color: lightblue;
     background: #caf0f8; 
    color: white;
} */

 
/* .card {
  /* display: grid; 

  text-align: center;
}

.car img {
  width : 50px ; 
  height: 100px;
} */


.cardList{
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display:grid;
  gap: 2rem;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  border-radius: 5px; 


  
  border-radius: 1rem;
  
  padding: 2rem;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: black;
  background-color:#82c7ef4a;
  /* Firefox */
  -moz-transition: all 1s ease-in;
  /* WebKit */
  -webkit-transition: all 1s ease-in;
  /* Opera */
  -o-transition: all 1s ease-in;
  /* Standard */
  transition: all 0.25s ease-in;
}



@media screen and (min-width: 768px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }
}

.card img {
  border-radius: 5px 5px ;
  width:100% ;
  object-fit: cover;
}

.container {
  padding: 2px 16px;

}